@{
    ViewData["Title"] = "Collision Summary";
}
@inject SignInManager<IdentityUser> SignInManager
@model CollisionsViewModel
<!--Hero Section-->
<div class="page-titles-img title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("images/bg8.jpg")'>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 ml-auto mr-auto">
                <h1 class='text-uppercase'>Collision Summaries</h1>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<div class='container-fluid no-padding mb40'>
    <div class='row no-margin'>
        <div class="col-3">
            <vc:counties></vc:counties>
        </div>
        <div class='col-9'>
            <div class="d-flex align-items-center mb-3">
                <span class="font-weight-bold mr-2">Filter by severity:</span>
                    @for(int i = 1; i <= 5; i++)
                    {
                        <a class="btn btn-outline-secondary btn-sm m-1" asp-route-severity="@i" asp-controller="Home" asp-action="Summary">@i</a>
                    }
            </div>
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Crash Date</th>
                        <th>Road Name</th>
                        <th>City</th>
                        <th>County</th>
                        <th>Severity</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var c in Model.Collisions)
                    {
                        <tr>
                            <td>@c.CrashDatetime</td>
                            <td>@c.MainRoadName</td>
                            <td>@c.City.CityName</td>
                            <td>@c.County.CountyName</td>
                            @if (c.CrashSeverityId == 5)
                            {
                                <td>Fatal</td>
                            }
                            @if (c.CrashSeverityId == 4)
                            {
                                <td>Suspected Serious Injury</td>
                            }
                            @if (c.CrashSeverityId == 3)
                            {
                                <td>Suspected Minor Injury</td>
                            }
                            @if (c.CrashSeverityId == 2)
                            {
                                <td>Possible Injury</td>
                            }
                            @if (c.CrashSeverityId == 1)
                            {
                                <td>No Injury</td>
                            }
                            <td><a class="btn-primary btn-sm" asp-controller="Home" asp-action="Details" asp-route-collisionid="@c.CrashId">Details</a></td>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <td><a asp-controller="Account" asp-action="EditCollision" asp-route-collisionid="@c.CrashId" class="btn-sm btn-secondary">Edit</a></td>
                                <td><a asp-controller="Account" asp-action="DeleteCollision" asp-route-collisionid="@c.CrashId" class="btn-sm btn-danger">Delete</a></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <div page-model="@Model.PageInfo" page-action="Summary" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-left m1"></div>
        </div>
    </div>
</div>